LLM_ONLY_MODEL = "Model_ID"
LLM_ONLY_BASE_URL = "Base_URL"
LLM_ONLY_API_KEY = "API_KEY"

SINGLE_AGENT_MODEL = "Model_ID"
SINGLE_AGENT_BASE_URL = "Base_URL"
SINGLE_AGENT_API_KEY = "API_KEY"

AGENT_WITH_LTM_MODEL="Model_ID"
AGENT_WITH_LTM_BASE_URL="Base_URL"
AGENT_WITH_LTM_API_KEY="API_KEY"

CHIEF_ARCHITECT_MODEL="Model_ID"
CHIEF_ARCHITECT_MODEL_BASE_URL="Base_URL"
CHIEF_ARCHITECT_MODEL_API_KEY="API_KEY"


TAINT_SLEUTHS_MODEL="Model_ID"
TAINT_SLEUTHS_MODEL_BASE_URL="Base_URL"
TAINT_SLEUTHS_MODEL_API_KEY="API_KEY"


CRITIC_MODEL="Model_ID"
CRITIC_MODEL_BASE_URL="Base_URL"
CRITIC_MODEL_API_KEY="API_KEY"
