LLM_ONLY_MODEL = 
LLM_ONLY_BASE_URL = 
LLM_ONLY_API_KEY = 

SINGLE_AGENT_MODEL = 
SINGLE_AGENT_BASE_URL = 
SINGLE_AGENT_API_KEY = 

AGENT_WITH_LTM_MODEL=
AGENT_WITH_LTM_BASE_URL=
AGENT_WITH_LTM_API_KEY=

CHIEF_ARCHITECT_MODEL =
CHIEF_ARCHITECT_MODEL_BASE_URL = 
CHIEF_ARCHITECT_MODEL_API_KEY = 


TAINT_SLEUTHS_MODEL =
TAINT_SLEUTHS_MODEL_BASE_URL = 
TAINT_SLEUTHS_MODEL_API_KEY = 


CRITIC_MODEL =
CRITIC_MODEL_BASE_URL = 
CRITIC_MODEL_API_KEY = 
